body{
    background-color: beige;
    border: 5px dotted blue;
    margin: 10px;
    padding: 3px;
}

.texto{
    font-size: 20px;
    text-align: center;
}

.titulo{
    font-size: 25px;
    text-align: center;
}