body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.tudu{
    color: blueviolet;
    text-align: center;
}

.corpo{
    margin: auto;
}

.botao{
    margin: auto;
}