body{
    background-color: blueviolet;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
}

.form{
    background-color: darkgoldenrod;
    display: flexbox;
    padding: 10px 10px 10px 10px;
}

.checkbox{
    display: inline-block;
}

#idade{
    width: 20px;
    text-align: center;
}

input, #incrementaIdade, #decrementaIdade{
    border-radius: 10px;
}

.erro{
    border-radius: 10px;
    border-color: crimson;
    background-color: aquamarine;
}

input{
    background-color: rgb(238, 234, 230);
}