body{
    background-color: #d85120;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

li{
    font-size: large;
    color: rgba(255, 255, 255, 0.699);
    font-style: oblique;
    font-weight: bold;
}

#titulo{
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(61, 16, 2);
}

.paragrafo{
    font-size: larger;
    margin-left: 20px;
}

.segundo-paragrafo{
    margin-left: 20px;
}

.fa{
    margin-right: 5px;
}

#idade{
    width: 20px;
    text-align: center;
}

.botaoIdade{
    width: 20px;
}

#botao{
    width: 350px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
}

.titulo-input{
    color: greenyellow;
}