body{
    background-color: #d85120;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo{
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(61, 16, 2);
}

.paragrafo{
    font-size: larger;
    margin-left: 20px;
}

li{
    font-size: large;
    color: rgba(255, 255, 255, 0.699);
    font-style: oblique;
    font-weight: bold;
}

.segundo-paragrafo{
    margin-left: 20px;
}

#link-puc{ /* propriedade text-decoration: none; faz com que o link não mude de cor ao ser clicado */
    text-decoration: none;
    margin-left: 20px;
}